<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>moussiqfree</name>
            <displayName><![CDATA[Moussiq FREE]]></displayName>
            <version><![CDATA[1.5.4.1]]></version>
            <description><![CDATA[Exports your products into a csv file for various price comparison engines]]></description>
            <author><![CDATA[]]></author>
            <tab><![CDATA[Silbersaiten]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>